[submodule "sfr_metadata"]
	path = sfr_metadata
url=git@github.com:SouthForkResearch/SFRMetadata.git
[submodule "Riverscapes"]
	path = Riverscapes
	url = git@github.com:SouthForkResearch/PythonRiverscapesProject.git
