[submodule "sfr_metadata"]
	path = sfr_metadata
url=https://github.com/SouthForkResearch/SFRMetadata.git
[submodule "Riverscapes"]
	path = Riverscapes
	url = https://github.com/SouthForkResearch/PythonRiverscapesProject.git
